nav {
    margin: o auto;
    padding: 0.1%;
    margin-right: 0;
    color: rgb(235, 144, 33);
    position: fixed;
}
.topnav a {
    float: right;
    color:blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  img  {
    float: left;
  }

nav>ul {
    text-align: center;
    background-color: rgb(214, 65, 27);

}
#home{
    margin-top: 100px;
}
.column {
    width: 33%;
    padding: 10px;
    height: auto;
}

.row {
    background-color:lightseagreen;
    display: flex;
}

.copyright {
    text-align: center;
}

    body {
        background-color:rgb(187, 133, 133);
    }