nav {
    margin: o auto;
    padding: 0.1%;
    margin-right: 0;
    color: rgb(235, 144, 33);
    position: fixed;
}

nav>ul {
    text-align: center;
    background-color: rgb(55, 193, 247);

}
#home{
    margin-top: 100px;
}
.column {
    width: 33%;
    padding: 10px;
    height: auto;
}

.row {
    background-color:lightseagreen;
    display: flex;
}

.copyright {
    text-align: center;
}

    body {
        background-color:rgb(187, 133, 133);
    }